{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% if ancestors %}
      <section id="main-breadcrumb" aria-label="breadcrumb">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
              {% for ancestor in ancestors %}
                {% if forloop.last %}
                  <li class="breadcrumb-item" aria-current="page">{{ ancestor }}</li>
                {% else %}
                  <li class="breadcrumb-item"><a href="{% pageurl ancestor %}">{% if forloop.first %}<i class="fa-solid fa-house"></i>
                    <span class="home-display">{{ site_root.seo_title }}</span>{% else %}{{ ancestor }}{% endif %}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </nav>
        </div>
      </section>
{% else %}
<section id="main-breadcrumb" aria-label="breadcrumb">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
          <li class="breadcrumb-item"><i class="fa-solid fa-house"></i>
            <span class="home-display">{{ site_root.seo_title }}</span>
            </li>
      </ol>
    </nav>
  </div>
</section>
{% endif %}
