{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

            <section>

                <div class="container">

                    <h2>{{ page.title }}</h2>
                    {% image page.image fill-480x320 %}
                    <p class="meta">{{ page.date }}</p>
                    <p class="hero">{{ page.hero_text }}</p>
                    {% if page.hero_cta_link %}
                        <a href="{% pageurl page.hero_cta_link %}">
                            {% firstof page.hero_cta page.hero_cta_link.title %}
                        </a>
                    {% endif %}

                    {{ page.body|richtext }}

                </div>

            </section>

{% endblock content %}
