{% load navigation_tags %}

          <div class="social_media_link">
            {% if social_media %}
              <ul class="list-unstyled d-flex social_media_link_list">
                {% for name, link in social_media.items %}
                  <li class="footer__icon">
                    <a href="{{ link }}" target="_blank" rel="noreferrer"
                    aria-label="{{ name|title }}">
                      {% if name == 'email' %}
                      <i class="fa-regular fa-envelope"></i>
                      {% elif name == 'mobile' %}
                      <i class="fa-solid fa-mobile-screen"></i>
                      {% elif name == 'phone' %}
                      <i class="fa-solid fa-phone"></i>
                      {% else %}
                      <i class="fa-brands fa-{{ name }}"></i>
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
