{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

            <section>
                <div class="container">

                    <h2>{{ page.title }}</h2>

                    <div class="intro">{{ page.intro|richtext }}</div>

                    {% for post in blogpages %}
                        <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                        <p>{{ post.specific.date }}</p>
                        {{ post.specific.intro }}
                        {{ post.specific.body|richtext }}
                    {% endfor %}

                    <p><a href="{{ page.get_parent.url }}">Return to home</a></p>

                </div>
            </section>

{% endblock %}
