{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

            <section>

                <div class="container">

                    <h2>{{ page.title }}</h2>

                    <p class="meta">{{ page.date }}</p>

                    <div class="intro">{{ page.intro|richtext }}</div>

                    {{ post.body|richtext }}

                    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

                </div>

            </section>

{% endblock %}
