{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

            <section>

                <div class="container">

                    <h2>{{ page.title }}</h2>

                    <p class="meta"><small class="text-end"><i class="fa-regular fa-calendar"></i> {{ page.date }}</small></p>

                    {% with authors=page.authors.all %}
                        {% if authors %}
                    <h3>Ditulis oleh:</h3>
                    <ul>
                        {% for author in authors %}
                            <li style="display: inline">
                                {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                                {{ author.name }}
                            </li>
                        {% endfor %}
                    </ul>
                        {% endif %}
                    {% endwith %}

                    <div class="intro">{{ page.intro|richtext }}</div>

                    {{ page.body|richtext }}

                    <div class="row g-3 my-3 gallery-images">
                    {% for item in page.gallery_images.all %}
                        <figure class="col">
                            {% image item.image fill-320x240 class="figure-gallery" %}
                            {% if item.caption %} <figcaption class="figure-caption">{{ item.caption }}</figcaption> {% endif %}
                        </figure>
                    {% endfor %}
                    </div>

                    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

                    {% with tags=page.tags.all %}
                        {% if tags %}
                    <div class="tags">
                        <h3>Tagar</h3>
                        {% for tag in tags %}
                            <a href="{% slugurl 'tagar' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                        {% endfor %}
                    </div>
                        {% endif %}
                    {% endwith %}

                </div>

            </section>

{% endblock %}
