{% extends "base.html" %}

{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}

            <section class="jumbotron text-center">
                 <h2 class="display-3">{{ page.title }}</h2>
                 <p class="lead">{{ page.intro|richtext }}</p>
            </section>

            <section>
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-3 g-4">

                        {% for post in blogpages %}
                        <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <small class="card-date d-block text-end"><i class="fa-regular fa-clock"></i> {{ post.specific.date }}</small>
                                <h3 class="card-title mb-3"><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                                {% with post.main_image as main_image %}
                                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                                {% endwith %}
                                {{ post.specific.intro }}
                                {{ post.specific.body|richtext }}
                            </div>
                            <div class="card-footer bg-transparent border-top-0 mb-2">
                                <a href="{{ item.permalink }}" class="btn btn-sm">Read More</a>
                            </div>
                        </div>
                        </div>
                        {% endfor %}

                    </div>

                    <p><a href="{{ page.get_parent.url }}">Return to home</a></p>

                </div>
            </section>

{% endblock %}
