@import url("theme.min.css");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Amiri", "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--bs-body-color);
  background-color: var(--uw-wall-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: var(--bs-link-color) !important;
  text-decoration: none; }

a:hover {
  color: var(--bs-link-hover-color) !important;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif; }

.arab {
  font-size: 1.2rem;
  line-height: 2em;
  font-family: "LPMQ", "Amiri", Tahoma, sans-serif;
  text-align: right;
  direction: rtl; }

html {
  scroll-behavior: smooth; }

section {
  margin-top: 2rem;
  margin-bottom: 2rem; }

section + section {
  margin-top: 0; }

#topbar {
  background-color: var(--bs-body-bg-tint);
  font-size: .875em;
  height: 2.6em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

#main-header {
  margin-bottom: 5px;
  background-color: var(--bs-body-bg);
  transition: .3s all ease;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 9999; }

#main-hero h1 {
  color: var(--bs-main-primary); }

#main-navbar .navbar-nav li.nav-item {
  margin: 0 1rem; }
#main-navbar .navbar-nav li a {
  font-weight: 500;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative; }
  #main-navbar .navbar-nav li a.active {
    opacity: 1; }
    #main-navbar .navbar-nav li a.active::before {
      width: calc(100% - 16px); }
  #main-navbar .navbar-nav li a:hover {
    opacity: 1; }
    #main-navbar .navbar-nav li a:hover::before {
      width: calc(100% - 16px); }

@media (min-width: 992px) {
  #main-navbar .navbar-nav li a::before {
    margin: 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--bs-main-tertiary);
    /* underline */
    height: 4px;
    opacity: 1;
    visibility: visible;
    width: 0;
    -webkit-transition: .15s all ease-out;
    -o-transition: .15s all ease-out;
    transition: .15s all ease-out; } }
#main-navbar .navbar-nav .dropdown-menu li {
  display: block;
  margin: 1em;
  padding: 0; }
  #main-navbar .navbar-nav .dropdown-menu li a.dropdown-item {
    display: inline;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0 0 .5rem 0;
    font-weight: 400;
    color: var(--bs-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0); }
    #main-navbar .navbar-nav .dropdown-menu li a.dropdown-item.active {
      opacity: 1; }
      #main-navbar .navbar-nav .dropdown-menu li a.dropdown-item.active::before {
        width: 100%; }
    #main-navbar .navbar-nav .dropdown-menu li a.dropdown-item:hover {
      opacity: 1; }
      #main-navbar .navbar-nav .dropdown-menu li a.dropdown-item:hover::before {
        width: 100%; }

#main-breadcrumb {
  margin-top: 0 !important; }
  #main-breadcrumb .fa-solid {
    padding-right: .2rem; }
  #main-breadcrumb .breadcrumb {
    background: linear-gradient(to right, var(--bs-main-quarterly) 50%, #ffffff00); }
    #main-breadcrumb .breadcrumb li.breadcrumb-item > a {
      text-decoration: none !important;
      font-weight: 600 !important;
      color: var(--bs-link-color);
      opacity: .7;
      transition: .15s opacity ease; }
      #main-breadcrumb .breadcrumb li.breadcrumb-item > a svg {
        vertical-align: unset;
        margin-right: .3rem; }
      #main-breadcrumb .breadcrumb li.breadcrumb-item > a:hover {
        opacity: 1; }
  #main-breadcrumb .bi {
    height: 16px;
    width: 16px; }

#header-title-text {
  font-size: var(--bs-font-size);
  font-weight: 600; }

#header-logo-image {
  width: 3rem;
  height: auto;
  vertical-align: top;
  margin-right: 3px;
  border-radius: 5px; }

#main-content section .container .card img.richtext-image {
  border-radius: 0.5rem; }
  #main-content section .container .card img.richtext-image.left {
    width: 50% !important;
    float: left;
    height: fit-content;
    margin-right: 1rem; }
  #main-content section .container .card img.richtext-image.right {
    width: 50% !important;
    float: right;
    height: fit-content;
    margin-left: 1rem; }
  #main-content section .container .card img.richtext-image.full-width {
    object-fit: contain;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    margin-top: 1rem; }
#main-content section .container .card img.card-thumbnail {
  border-radius: 3px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto; }
#main-content section .container figure figcaption.figure-caption {
  font-size: .875em;
  color: #6c757d; }
#main-content section .container figure img.figure-gallery {
  border-radius: 3px; }

.search-page .btn-success {
  background-image: var(--bs-gradient);
  border-color: #5bc142;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }

#footer-logo-image {
  width: 3rem;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 4px; }

footer section {
  padding-top: 1rem;
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important; }
footer .fa-solid, footer .fa-regular, footer .fa-brands {
  padding-right: .5rem; }
footer .copyright {
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  padding-top: 1em;
  text-align: center; }
  footer .copyright > p {
    font-size: 0.9em !important;
    margin: 0.1em; }
footer .brand-title {
  color: #000; }
footer .footer-nav {
  padding-left: 0; }
footer .footer-nav-item {
  list-style: none; }
footer .footer-nav-link {
  text-decoration: none; }
  footer .footer-nav-link:hover {
    color: inherit; }
footer address {
  padding-left: 22.5px;
  text-indent: -10.5px; }
footer .whatsapp-button-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 2em;
  bottom: 2em;
  font-size: 1rem;
  transition: all .5s; }
  @media (max-width: 768px) {
    footer .whatsapp-button-bottom {
      left: 1.5em;
      bottom: 1.5em; } }
  footer .whatsapp-button-bottom a.bubble-btn {
    position: relative;
    margin: 0;
    padding: 10px 13px;
    border-radius: 7px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: #777;
    background-color: var(--bs-main-tertiary);
    text-decoration: none;
    transition: all .5s; }
    footer .whatsapp-button-bottom a.bubble-btn:hover {
      color: #000; }
    footer .whatsapp-button-bottom a.bubble-btn:hover i {
      color: #000;
      animation: shakeX 2s ease; }
  footer .whatsapp-button-bottom i {
    margin: 0 3px 0 0;
    padding: 0;
    vertical-align: middle;
    color: #777;
    transition: all .5s;
    font-size: 1.5rem; }
footer .back-to-top {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  align-items: center;
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 1000;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  border-radius: 7px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: var(--bs-main-tertiary);
  transition: all .5s; }
  @media (max-width: 768px) {
    footer .back-to-top {
      bottom: 1.5em; } }
  footer .back-to-top.active {
    visibility: visible;
    opacity: 1; }
  footer .back-to-top a {
    height: 50px;
    width: 50px;
    color: #777;
    text-decoration: none;
    transition: color 1s; }
    footer .back-to-top a:hover {
      color: #000;
      animation: noddingUp 1s ease; }
  footer .back-to-top i {
    vertical-align: middle;
    font-size: 1.5rem;
    padding-right: 0; }

@keyframes noddingUp {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-7px); }
  60% {
    transform: translateY(-7px); } }
@keyframes shakeY {
  0%, 100% {
    transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-3px); }
  20%, 40%, 60%, 80% {
    transform: translateY(3px); } }
@keyframes swing {
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes shakeX {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px); }
  20%, 40%, 60%, 80% {
    transform: translateX(2px); } }

/*# sourceMappingURL=style.css.map */
